<div class="board-container lg:grid lg:grid-cols-12 w-full p-5 min-h-screen">
    <!-- sidebar -->
    <div class="hidden lg:block lg:visible lg:col-span-2 lg:bordered p-1 lg:border-r-4">
        <h3 class="font-bold text-3xl mb-5" *ngIf="authService.currentUser$ | async as user">{{
            user.username }}
        </h3>

        <select class="select select-info w-full max-w-xs" #selectBoards (change)="switchBoard(selectBoards.value)">
            <option disabled selected>Select board</option>
            <option *ngFor="let board of boards$ | async">{{ board.title }}</option>
        </select>

        <div *ngIf="data$ | async as data" class="my-5">
            <app-inline-oneline-form [field]="updateBoardTitleField" (handleSubmit)="updateBoardTitle($event)"
                [defaultValue]="data.board?.title || ''">
                <h3 class="text-2xl text-secondary mb-3 cursor-pointer hover:text-accent hover:scale-105 transition">{{
                    data.board?.title}}</h3>
            </app-inline-oneline-form>
            <div *ngIf="data.board?.description">
                <app-inline-oneline-form [field]="updateBoardDescriptionField"
                    (handleSubmit)="updateBoardDescription($event)" [defaultValue]="data.board?.description || ''">
                    <markdown [data]="data.board?.description" class="break-words"></markdown>
                </app-inline-oneline-form>
            </div>
        </div>

        <div class="flex justify-evenly items-center">
            <div class="dropdown dropdown-right"
                [ngClass]="(data$ | async)?.board?.description?.length! > 10 ? 'dropdown-top' : 'dropdown-bottom'">
                <label tabindex="0" class="btn m-1">Edit</label>
                <div tabindex="0" class="dropdown-content menu shadow bg-base-300 rounded-box w-96 p-4">
                    <app-inline-form [fields]="createBoardFields" [alwaysEditting]="true" [fullWidth]="true"
                        (handleSubmit)="updateBoard($event)" type="board" text="edit board">
                    </app-inline-form>
                </div>
            </div>
            <button class="btn" (click)="deleteBoard($event)">Delete</button>
        </div>

    </div>


    <!-- board -->
    <div class="w-full lg:col-span-10">
        <app-alert *ngIf="error">{{ error }}</app-alert>

        <ng-container *ngIf="data$ | async as data">
            <div class="grid grid-cols-5">
                <div *ngFor="let column of data.columns">
                    <app-column [column]="column" [column]="column" [tasks]="getTasksByColumnId(data.tasks, column.id)">
                    </app-column>
                </div>
                <app-inline-oneline-form [field]="createColumnField" type="column"
                    (handleSubmit)="createColumn($event)">
                    <div
                        class="col-span-1 flex items-center p-4 bg-base-300 rounded-lg cursor-pointer hover:bg-accent hover:scale-105 duration-300 w-full">
                        <span class="material-symbols-outlined cursor-pointer">
                            add
                        </span>
                        new column
                    </div>

                </app-inline-oneline-form>

            </div>
        </ng-container>
    </div>

</div>
<router-outlet></router-outlet>