<div class="board-container lg:grid lg:grid-cols-12 w-full p-5 min-h-screen">
    <!-- sidebar -->
    <div class="hidden lg:block lg:visible lg:col-span-2 lg:bordered lg:border-r-4">
        <h3 class="font-bold text-2xl text-primary">{{ (authService.currentUser$ | async)?.username }}</h3>
    </div>


    <!-- board -->
    <div class="w-full lg:col-span-10">
        <app-alert *ngIf="error">{{ error }}</app-alert>

        <ng-container *ngIf="data$ | async as data">
            <div class="grid grid-cols-5">
                <div *ngFor="let column of data.columns">
                    <app-column [column]="column" [column]="column" [tasks]="getTasksByColumnId(data.tasks, column.id)">
                    </app-column>
                </div>
                <div class="col-span-1 bordered rounded-lg m-2">
                    <app-inline-form [fields]="createBoardFields" text="column" [oneLine]="true"
                        (handleSubmit)="createColumn($event)" [hasButton]="false">
                    </app-inline-form>
                </div>
            </div>
        </ng-container>
    </div>
</div>