<div class="board-container lg:grid lg:grid-cols-12 w-full p-5 min-h-screen">
    <!-- sidebar -->
    <div class="hidden lg:block lg:visible lg:col-span-2 lg:bordered lg:border-r-4">
        <h3 class="font-bold text-2xl text-primary">{{ (authService.currentUser$ | async)?.username }}</h3>
    </div>

    <!-- board -->
    <div class="w-full lg:col-span-10">
        <app-alert *ngIf="error">{{ error }}</app-alert>
        <ng-container *ngIf="!error">
            <pre>
                {{ (data$ | async) | json }}
            </pre>
            <app-inline-form [fields]="createBoardFields">
            </app-inline-form>
        </ng-container>
    </div>
</div>