<div class="col-span-1 bordered rounded-lg p-2 m-2 bg-slate-600">
    <app-inline-oneline-form [field]="updateColumnField" (handleSubmit)="updateColumnTitle($event)" type="column"
        [defaultValue]="column.title">
        <h4 class="font-bold text-accent mb-5 text-center cursor-pointer hover:text-info transition duration-300">{{
            column.title }}
        </h4>
    </app-inline-oneline-form>
    <div class="flex flex-col gap-4 my-2">
        <app-task *ngFor="let task of tasks" [task]="task"></app-task>
        <app-inline-form [fields]="createTaskFields" text="task" [oneLine]="true" (handleSubmit)="createTask($event)"
            [hasButton]="false" [fullWidth]="true" type="column">
        </app-inline-form>
    </div>

    <div class="flex justify-end mt-5">
        <span class="material-symbols-outlined cursor-pointer" (click)="deleteColumn()">
            close
        </span>
    </div>
</div>