<form [formGroup]="registerForm" (ngSubmit)="register()" class="form max-w-lg mx-auto my-10">
    <h3 class="font-bold text-3xl text-accent mb-5">Register for Trello</h3>
    <app-input name="Email" [field]="email"></app-input>
    <app-input name="Password" [field]="password" type="password" [minLength]="3"></app-input>
    <app-input name="Username" [field]="username" [required]="false" [minLength]="3"></app-input>
    <div class="flex justify-end">
        <button class="btn btn-primary">Register</button>
    </div>
    <p>already have an account? <strong class="underline my-5 cursor-pointer"><a
                routerLink="/auth/login">login</a></strong> instead</p>

    <app-alert *ngIf="error">{{ error }} </app-alert>
</form>