<nav class="navbar bg-base-200 max-w-lg rounded-box mx-auto mt-5">

    <ul class="flex justify-center rounded-md w-full gap-4">
        <li><a routerLink="/"><span class="material-symbols-outlined">
                    home
                </span>Home</a></li>
        <ng-container *ngIf="user; else authLinks">
            <li><a routerLink="/boards"><span class="material-symbols-outlined">
                        dashboard
                    </span>{{ user.username }}</a></li>
        </ng-container>

    </ul>
</nav>

<ng-template #authLinks>
    <li><a routerLink="/auth/register"><span class="material-symbols-outlined">
                person_add
            </span>Register</a></li>
    <li><a routerLink="/auth/login">Log in</a></li>
</ng-template>