<nav class="navbar bg-base-200 max-w-lg rounded-box mx-auto mb-5">
    <ul class="flex justify-center rounded-md w-full gap-4">
        <li><a routerLink="/"><span class="material-symbols-outlined">
                    home
                </span>Home</a></li>
        <ng-container *ngIf="user; else authLinks">
            <li>
                <a routerLink="/boards/638c27c7d9db477e9f9e78e0">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    Board
                </a>
            </li>
            <li class="avatar cursor-pointer" routerLink="/boards">
                <div class="w-9 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="https://avatars.dicebear.com/api/initials/ + {{user.username}}.svg" />
                </div>
            </li>
        </ng-container>
        <li class="cursor-pointer" (click)="switchTheme(theme)">
            <span *ngIf="theme === 'cupcake'" class="material-symbols-outlined">
                dark_mode
            </span>
            <span *ngIf="theme === 'dracula'" class="material-symbols-outlined">
                light_mode
            </span>
        </li>
    </ul>
</nav>

<ng-template #authLinks>
    <li><a routerLink="/auth/register"><span class="material-symbols-outlined">
                person_add
            </span>Register</a></li>
    <li><a routerLink="/auth/login">Log in</a></li>
</ng-template>