<div [ngClass]="{'mb-3': marginBottom}">
    <label class="label text-lg" *ngIf="!inline">{{ name }}</label>
    <ng-container *ngIf="type === 'text'">
        <input [type]="type" [formControl]="field" [placeholder]="placeholder ? placeholder : ''" [class]="inputClass"
            [attr.aria-label]="ariaLabel" />
    </ng-container>
    <ng-container *ngIf="type === 'textarea'">
        <textarea class="h-40 p-2" [formControl]="field" [placeholder]="placeholder ? placeholder : ''"
            [class]="inputClass" [attr.aria-label]="ariaLabel" rows="10"></textarea>
    </ng-container>

    <ng-container *ngIf="isChanged()">
        <app-alert *ngIf="isRequired()">
            {{ isRequiredError() }}
        </app-alert>
        <app-alert *ngIf="isMinLength()">
            {{ isMinLengthError() }}
        </app-alert>
        <app-alert *ngIf="isEmailInvalid()">
            {{ isEmailInvalidError() }}
        </app-alert>
        <app-alert *ngIf="isEmailExists()">
            {{ isEmailExistsError() }}
        </app-alert>
    </ng-container>
</div>