<div class="boards-container max-w-6xl min-h-screen mx-auto">
    <div class="flex justify-between mb-5">
        <h2 class="font-bold text-3xl mb-5">My boards</h2>
        <app-alert *ngIf="error">{{ error }} </app-alert>
        <button class="btn btn-info" (click)="logout($event)">logout</button>
    </div>
    <div class="boards-grid w-full grid grid-cols-4 gap-4" *ngIf="!error">
        <app-inline-form class="w-64" [fields]="createBoardFields" (handleSubmit)="createBoard($event)"
            [hasButton]="false" [fullHeight]="true" text="Create new board">
        </app-inline-form>
        <app-board-card *ngFor="let board of boards; trackBy: trackByFn" [title]="board.title"
            [routerLink]="['/boards', board.id]">
        </app-board-card>
    </div>

</div>