<div class="boards-container w-full p-5">
    <pre>
        {{ boards | json }}
    </pre>


    <div class="dropdown dropdown-right dropdown-end">
        <label tabindex="0" class="btn m-1">Click</label>
        <div tabindex="0" class="dropdown-content menu p-2 shadow bg-base-200 rounded-box w-80">
            <app-inline-form [fields]="createBoardFields" [alwaysEditting]="true" (handleSubmit)="createBoard($event)">
            </app-inline-form>
        </div>
    </div>
    <button class="btn" (click)="logout($event)">logout</button>
</div>